## CHAIN DATA
# Example: "https://rpc-devnet-cardano-evm.c1.milkomeda.com"
CHAIN_URI="https://rpc-devnet-cardano-evm.c1.milkomeda.com"
# Example: "200101" 
CHAIN_ID="200101"
# Note: The number of decimals the native/gas asset of the chain
# Example: "18" 
CHAIN_CURRENCY_DECIMALS="18"
# Note: This is in seconds as a float
# Example: "4.0" 
BLOCK_TIME="2.0"
## CONTRACT DEPLOYMENT
# Example: "0xA02F7744868945A346Ee6994068F54D039683445"
CONTRACT_ADDRESS="0xe00bF36c6f23386FF9773d253dBd3658233A8CAA"
# Note: This is the block height to start syncing from; usually the contract deployment block height
# Example: "9000000"
START_BLOCKHEIGHT="14220000"
## Middleware
# Note: This is the URL which your middleware will use to interact with your game node webserver
# Example: "http://localhost:3333"
BACKEND_URI="http://localhost:3333"
## MISC
# Note: This is the port your game node webserver will use
# Example: "3333"
WEBSERVER_PORT="3333"
# Note: This enables running your game node with just the webserver running, meaning no new blocks will be synced.
# This is primarily useful for development, devops, or testing other edge cases where you want to interact with
# the game node but not have the game state progress forward.
SERVER_ONLY_MODE="false"
## DATABASE
DB_NAME="oracle_rpg"
DB_USER="postgres"
DB_PW="postgres"
DB_HOST="localhost"
DB_PORT="5432"

EXPLORER_URL="https://explorer-devnet-cardano-evm.c1.milkomeda.com/"
NETWORK_NAME="Milkomeda C1 Testnet"
RPC_URL="https://rpc-devnet-cardano-evm.c1.milkomeda.com"
NATIVE_NFT_SALE_PROXY="0xC06EfdfEDC1001A6b6FD52434148E11D11963a99"
NFT="0x7505bB649C0fdBd908Fa577EbB93514B6bceFEcF"
CHAIN_CURRENCY_TICKER="milkTADA"
CHAIN_CURRENCY_LONGNAME="Milk Test Ada"
IMAGE_AI="https://ai-game-idg-backend.paimastudios.com/generate"
ORACLE_AI="https://ai-game-llm-backend.paimastudios.com/generate"